In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px


%matplotlib inline

df_final_demo = pd.read_csv("../01_data/df_final_demo.txt")
df_final_demo

df_final_experiment_clients = pd.read_csv("../01_data/df_final_experiment_clients.txt")
df_final_experiment_clients

df_final_web_data_pt_1 = pd.read_csv("../01_data/df_final_web_data_pt_1.txt")
df_final_web_data_pt_1

df_final_web_data_pt_2 = pd.read_csv("../01_data/df_final_web_data_pt_2.txt")
df_final_web_data_pt_2

df_final_web_data = pd.concat([df_final_web_data_pt_1,df_final_web_data_pt_2], axis= 0)
df_final_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [3]:
# This is the data set that contains the demograohic data of the clients.
df_final_demo.head(10)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
5,3727881,5.0,71.0,30.5,U,2.0,23915.60,0.0,3.0
6,272934,5.0,66.0,58.5,U,2.0,27021.42,2.0,5.0
7,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0
8,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0
9,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0

In [ ]:
df_final_demo.isnull().sum()

In [ ]:
# checking the two columns for nulls so that we can drop them
df_final_demo[df_final_demo['clnt_age'].isnull() | df_final_demo['gendr'].isnull()]

In [ ]:
# drop the rows with all nulls
df_final_demo = df_final_demo.dropna( subset = ['clnt_tenure_yr'])

In [ ]:
df_final_demo.isnull().sum()

In [ ]:
df_final_experiment_clients. head(10)

In [ ]:
df_final_web_data_pt_1.head(10)

In [ ]:
df_final_web_data_pt_2.head(10)

In [ ]:
df_final_experiment_clients.isnull().value_counts()

#drop null values as this information is decisive for our KPIs
df_final_experiment_clients = df_final_experiment_clients.dropna(subset=['Variation'])
df_final_experiment_clients

In [ ]:
#Merge the variation and experiment data sets

df_final_web_data_client_id = pd.merge(df_final_experiment_clients,df_final_web_data, on = 'client_id', how = 'inner')
df_final_web_data_client_id

In [ ]:
# final test group - for KPI

df_final_test = df_final_web_data_client_id[df_final_web_data_client_id['Variation'] == 'Test']
df_final_test

In [ ]:
# final control group - for the KPI's

df_final_control = df_final_web_data_client_id[df_final_web_data_client_id['Variation'] == 'Control']
df_final_control

In [ ]:
df_final_demo.shape

In [ ]:
#merge final demo that has the variations with final experiment clients datasets on client_id
# MASTER DEMOGRAPHIC DATASET merged with the ids

df_final_demo_client_id = pd.merge(df_final_experiment_clients,df_final_demo, on = 'client_id', how = 'inner')

df_final_demo_client_id

In [ ]:
df_final_demo_client_id['gendr']=df_final_demo_client_id['gendr'].replace('X','U')
df_final_demo_client_id['gendr'].value_counts(normalize=True)

In [ ]:
df_final_demo_client_id.describe()

In [ ]:
df_final_demo_control = df_final_demo_client_id[df_final_demo_client_id['Variation'] == 'Control']

df_final_demo_control.describe()

In [ ]:
df_final_demo_test = df_final_demo_client_id[df_final_demo_client_id['Variation'] == 'Test']

df_final_demo_test.describe()

In [ ]:
#Clean gender column from demographics table

df_final_demo_client_id['gendr']=df_final_demo_client_id['gendr'].replace('X','U')
df_final_demo_client_id['gendr'].value_counts(normalize=True)

In [ ]:
fig, axes = plt.subplots(1,2,figsize=(8,6))

sizes_test = df_final_demo_test['gendr'].value_counts(normalize=True)
labels_test = ['Male', 'Female', 'Unknown']  
sizes_control = df_final_demo_control['gendr'].value_counts(normalize=True)
labels_control = ['Male', 'Female', 'Unknown']  
colors = ['#96151d','#FFCDD2','#FF6F61'] 

grey_colors = ['#929591', '#FF6F61', '#D50000']

axes[0].pie(sizes_test, labels=labels_test, colors=grey_colors, autopct='%1.1f%%', startangle=140)
axes[1].pie(sizes_control, labels=labels_control, colors=grey_colors, autopct='%1.1f%%', startangle=140)

axes[0].set_title("Gender Distribution for Test Group")
axes[1].set_title("Gender Distribution for Control Group")

plt.savefig("Gender Distribution.png", transparent=True, bbox_inches='tight')
plt.show()

#96151d (actual vanguard red), #FFCDD2(light red/pink), #D50000 (tomato red), #FF6F61 (light salmon) #929591 (light grey) #595252 (dark grey)

In [ ]:
df_final_demo_client_id.info()

In [ ]:
df_final_demo_client_id.head()

In [ ]:
df_final_demo_client_id['clnt_age'].unique

In [ ]:
bins = [0, 20, 30, 40, 50, 60, 70, 80, 100]
labels = ['under 20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-100']

df_final_demo_client_id['age_group'] = pd.cut(df_final_demo_client_id['clnt_age'], bins=bins, labels=labels, include_lowest=True)

df_final_demo_client_id.head()

In [ ]:

age_group_counts = df_final_demo_client_id['age_group'].value_counts(normalize=True)
age_group_counts

In [ ]:
bins = [df_final_demo_client_id['clnt_age'].min(), 20, 30, 40, 50, 60, 70, 80 ,df_final_demo_client_id['clnt_age'].max()]
labels = ['under 20', '21-30', '31-40', '41-50','51-60','61-70','71-80','81-100' ]
df_final_demo_client_id['clnt_age_groups'] = pd.cut(df_final_demo_client_id['clnt_age'], bins=bins, labels=labels, include_lowest=True)

crosstab_age_group = pd.crosstab(df_final_demo_client_id['clnt_age_groups'], df_final_demo_client_id['Variation'])
crosstab_age_group

crosstab_age_group.plot(kind="bar",stacked=True, color=colors);

In [ ]:
df_final_demo_client_id.head()

In [ ]:
df_final_demo_client_id ['num_accts'].unique()

In [ ]:
#final one - no need for bins as there are no ranges

crosstab_num_accts = pd.crosstab(df_final_demo_client_id['num_accts'], df_final_demo_client_id['Variation'])
crosstab_num_accts

crosstab_num_accts.plot(kind="bar",stacked=True, color=colors);

In [ ]:
df_final_demo_client_id ['bal'].unique()

In [ ]:
df_final_demo_client_id['bal'].describe()

----- Client Behaviour -----

In [ ]:
bins = [0, 20000, 40000, 60000, 80000, 100000, 16320040] 
labels = ['0-20,000', '21,000-40,000', '41,000-60,000', '61,000-80,000', '81,000-100,000', 'above 100,000'] 

df_final_demo_client_id['bal_binned'] = pd.cut(df_final_demo_client_id['bal'], bins=bins, labels=labels)
crosstab_bal = pd.crosstab(df_final_demo_client_id['bal_binned'], df_final_demo_client_id['Variation'])
crosstab_bal

crosstab_bal.plot(kind="bar",stacked=True, color=colors);
plt.title("Client's Balance by Experiment Groups")
plt.ylabel("Count")
plt.xlabel("Balance")
plt.xticks(rotation=45)
plt.savefig("Client's Balance by Experiment Groups.png", transparent=True, bbox_inches='tight')
plt.show()

In [ ]:
df_final_test

In [ ]:
# sorting the date and time column for test 
df_final_test['date_time'] = pd.to_datetime(df_final_test['date_time'])
df_final_test['date'] = df_final_test['date_time'].dt.date
df_final_test['time'] = df_final_test['date_time'].dt.time
df_final_test = df_final_test.drop('date_time', axis=1)

display (df_final_test)

In [ ]:
# sorting the date and time column for control

df_final_control['date_time'] = pd.to_datetime(df_final_control['date_time'])
df_final_control['date'] = df_final_control['date_time'].dt.date
df_final_control['time'] = df_final_control['date_time'].dt.time
df_final_control = df_final_control.drop('date_time', axis=1)

display (df_final_control)

In [ ]:
df_completed_test_users = df_final_test[df_final_test['process_step'] == 'confirm']
df_completed_test_users.sort_valuesby=['visitor_id', 'date', 'time']
df_completed_test_users

In [ ]:
#checking for number of duplicates within the confirm subset of the process_step
duplicates = df_completed_test_users.duplicated(subset=['client_id', 'visitor_id', 'visit_id'])
duplicate_count = duplicates.sum()
duplicate_count

In [ ]:
# analyzed only the first stamp of the vistor_id 
df_sorted = df_final_test.sort_values(by=['visitor_id', 'date', 'time'])
df_first_time = df_sorted.drop_duplicates(subset=['time'], keep='first')

completed_test = df_first_time[df_first_time['process_step'] == 'confirm']['visitor_id'].nunique()

total_test = df_first_time['visitor_id'].nunique()

completion_rate = (completed_test / total_test) * 100

print(completion_rate)

In [ ]:
df_first_time['visitor_id'].nunique()

----- COMPLETION RATE KPI -----

In [ ]:
# â€‹â€‹Completion Rate: The proportion of users who reach the final â€˜confirmâ€™ step
# A client is said to him completed the process if he reached the confirm step. 
# For the purrpose of analysis and to compare we took the first time stamp that the client reached the confirm step.
# This rules out duplications for the same client_id

# Steps:
# 1) sort the values of the visitor_id, date, time column 
# 2) keep the first time stamp of confirm per visitor_id and drop the rest
# 3) count the number of unique values = completed test count
# 4) count the number of total visitor_id = total test count
# 5) completion rate = completed test / total_test
# 6) return completion_rate upto two decimals and with a percent sign %


def calculate_completion_rate(df):
    df_sorted = df.sort_values(by=['visitor_id', 'date', 'time'])
    df_first_time = df_sorted.drop_duplicates(subset=['time'], keep='first')
    completed_test = df_first_time[df_first_time['process_step'] == 'confirm']['visitor_id'].nunique()
    total_test = df_first_time['visitor_id'].nunique()
    completion_rate = (completed_test / total_test) * 100
    return f"{completion_rate:.2f}%"

In [ ]:
completion_rate_test = calculate_completion_rate(df_final_test)
completion_rate_control = calculate_completion_rate(df_final_control)

print (completion_rate_test)
print (completion_rate_control)

In [ ]:
from statsmodels.stats.proportion import proportions_ztest

#H0 = completion rate test group >= completion rate control group
#H1 = completion rate test group < completion rate control group

def calculate_completion_counts(df):
    df_sorted = df.sort_values(by=['visitor_id', 'date', 'time'])
    df_first_time = df_sorted.drop_duplicates(subset=['time'], keep='first')
    completed = df_first_time[df_first_time['process_step'] == 'confirm']['visitor_id'].nunique()
    total = df_first_time['visitor_id'].nunique()
    return completed, total


completed_test, total_test = calculate_completion_counts(df_final_test)
completed_control, total_control = calculate_completion_counts(df_final_control)


count = [completed_test, completed_control]
nobs = [total_test, total_control]
stat, p_value = proportions_ztest(count, nobs, alternative='smaller')  # One-tailed test

print(f"Z-statistic: {stat}, P-value: {p_value}")

# Print the test result based on the p-value
if p_value < 0.05:
    print('The null hypothesis is rejected. The completion rate in the test group is significantly lower than in the control group.')
else:
    print('We cannot confirm that the completion rate in the test group is lower than in the control group.')


completion_rate_test = (completed_test / total_test) * 100
completion_rate_control = (completed_control / total_control) * 100
print(f"Completion rate (Test group): {completion_rate_test:.2f}%")
print(f"Completion rate (Control group): {completion_rate_control:.2f}%")

Interpretation: Accept the null hypothesis. The test groupâ€™s completion rate is likely higher than or at least equivalent to that of the control group, based on these results.

Part 2: Assessing the practical significance with 5% Threshold

In [ ]:
#H0 = The increase in the Test groupâ€™s completion rate is less than 5%
#H1 = The increase in the Test groupâ€™s completion rate is greater than or equal to 5%.

from statsmodels.stats.proportion import proportions_ztest

# Calculate completion counts and total visits for both groups
completed_test, total_test = calculate_completion_counts(df_final_test)
completed_control, total_control = calculate_completion_counts(df_final_control)

# Observed completion rates
completion_rate_test = completed_test / total_test
completion_rate_control = completed_control / total_control

# Z-test for difference in completion rates (Test group vs Control group)
count = [completed_test, completed_control]
nobs = [total_test, total_control]
stat, p_value = proportions_ztest(count, nobs, alternative='larger')  # One-tailed test

print(f"Z-statistic: {stat}, P-value: {p_value}")
print(f"Completion rate (Test group): {completion_rate_test:.4f}")
print(f"Completion rate (Control group): {completion_rate_control:.4f}")

# Print the result of the hypothesis test
if p_value < 0.05:
    print('The null hypothesis is rejected. The completion rate in the Test group is significantly higher than in the Control group.')
else:
    print('We do not have sufficient evidence to reject the null hypothesis.')

# Part 2: Assess if the increase meets or exceeds the 5% threshold

# Minimum increase to justify the cost
threshold_increase = 0.05

# Observed difference in completion rates
observed_difference = completion_rate_test - completion_rate_control

# Check if the observed increase meets or exceeds the 5% threshold
if observed_difference >= threshold_increase:
    print(f"The observed increase of {observed_difference:.4f} meets or exceeds the 5% threshold. The new design is cost-effective.")
else:
    print(f"The observed increase of {observed_difference:.4f} does not meet the 5% threshold. The new design may not be cost-effective.")

Interpretation of Results:

Statistical Significance: Z-statistic: 5.86 and P-value: 2.29e-09: The Z-statistic is very high, and the P-value is extremely small, much lower than the typical 0.05 significance level. Conclusion: We reject the null hypothesis. The completion rate in the Test group (new design) is significantly higher than in the Control group (old design). Completion Rate (Test group): 36.89% vs. Completion Rate (Control group): 34.06%: The Test group has a higher completion rate, and the difference of 2.83% is statistically significant.

Practical Significance (5% Threshold): Observed Increase: 2.83%: Vanguard's threshold for cost-effectiveness is a minimum 5% increase in completion rate. The observed increase of 2.83% is below the 5% threshold. Conclusion: Despite the statistically significant improvement in completion rate, the new design does not meet the 5% threshold required to justify the associated costs of the redesign (development, design, and potential user disruption). Business Implications: Statistically Significant, But Not Cost-Effective:

The new design performs better than the old one, but not by a margin that justifies the cost of implementation. The observed increase of 2.83% is below the 5% minimum set by Vanguard for a cost-effective upgrade.

------ AVERAGE COMPLETION TIME KPI --------

In [ ]:
#change the dataype to string so that we can concat them into one column
def datetime_merged(df):
    df['date'] = df['date'].astype(str)
    df['time'] = df['time'].astype(str)
    df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'])
    return df

In [ ]:
datetime_merged(df_final_test)
datetime_merged(df_final_control)

In [ ]:
# Function to calculate outliers, remove them, and convert duration to minutes
def remove_outliers_and_convert(df):
    df = df.sort_values(by=['visit_id', 'datetime'])
    df['duration'] = df.groupby(['visit_id'])['datetime'].diff(-1).dt.total_seconds()
    df['duration'] = df['duration'].abs() / 60
    Q1 = df.groupby('process_step')['duration'].quantile(0.25)
    Q3 = df.groupby('process_step')['duration'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    bounds = pd.DataFrame({'lower_bound': lower_bound,'upper_bound': upper_bound})
    df_with_bounds = df.merge(bounds, on='process_step')
    df_filtered = df_with_bounds[(df_with_bounds['duration'] >= df_with_bounds['lower_bound']) &
                                 (df_with_bounds['duration'] <= df_with_bounds['upper_bound'])]
    
    return df_filtered

custom_palette = {'Control': '#96151d', 'Test': '#FFCDD2'}
                  

df_final_control['group'] = 'Control'
df_final_test['group'] = 'Test'

df_combined = pd.concat([df_final_test, df_final_control])

# Remove outliers and convert duration to minutes
df_filtered = remove_outliers_and_convert(df_combined)

# Create the box plot without outliers using the custom palette
plt.figure(figsize=(12, 8))
sns.boxplot(x='process_step', y='duration', hue='group', data=df_filtered, palette=custom_palette)
plt.title('Average Time Spent on Each Step by Experiment Groups (Outliers Removed)')
plt.xlabel('Process Step')
plt.ylabel('Duration (minutes)')
plt.xticks(rotation=45)
plt.legend(title='Variation')
plt.savefig("Average Time Spent on Each Step by Experiment Groups.png", transparent=True, bbox_inches='tight')
plt.show()

In [7]:
#Hypothesis Testing
#GOAL: to assess the efficiency of a process and determine if changes reduce time spent per step.
#H0: average_durations_test_group <= average_durations_control_group
#H1: average_durations_test_group > average_durations_control_group 
#(suggesting that the test group takes significantly less time to complete each step compared to the control group)
    #one-sided so one-tailed t-test 
#alpha = 0.05

#two independent groups, two sample t-test, one-tailed t-test
import scipy.stats as st

average_durations_test_group = [2.054426, 0.881014, 1.054969, 1.604868, 1.663180]  
average_durations_control_group = [1.262612, 1.032584, 0.852407, 1.650102, 1.520628]  

t_stat,p_value = st.ttest_ind(average_durations_test_group,average_durations_control_group, equal_var=False, alternative="greater")

alpha = 0.05

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

if p_value < alpha:
    print("Reject the null hypothesis: average_durations_test_group <= average_durations_control_group ")
else:
    print("average_durations_test_group > average_durations_control_group")

# When H0 = True, you have a 25%  chance to find a sample like the one you have found.
# p_value = P(sample | H0 = True)

T-statistic: 0.7230554429931415
P-value: 0.24636052487913662
average_durations_test_group > average_durations_control_group

 ----- EXTRA -----

In [ ]:
# Average time spent on each step 

def average_time_spent_on_each_step(df):
    df['date'] = df['date'].astype(str)
    df['time'] = df['time'].astype(str)
    df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'])
    df = df.sort_values(by=['visit_id', 'datetime'])
    df['duration'] = df.groupby(['visit_id'])['datetime'].diff(-1).dt.total_seconds()
    df['duration'] = df['duration'].abs()
    average_step_durations = df.groupby('process_step')['duration'].mean()
    average_step_durations_minutes = average_step_durations / 60
    return average_step_durations_minutes

In [ ]:
average_durations_test_group = average_time_spent_on_each_step(df_final_test)
average_durations_control_group = average_time_spent_on_each_step(df_final_control)

print(average_durations_test_group )
print(average_durations_control_group )

In [ ]:
visit_id_to_check = df_final_test[df_final_test['visit_id'] == '999988789_76411676596_272843']
visit_id_to_check